<div class="row">
	<input class="input-field col s2" ng-model="searchText.name" id="search" class="form-control" placeholder="Filter text">
</div>
<div class="row">
	<div class="input-field col s2">
		<input id="name" type="text" name="" value="" placeholder="Name" ng-model="newProduct.name">
		<input id="image" type="text" name="" value="" placeholder="Image" ng-model="newProduct.image">
		<textarea id="description" class="materialize-textarea" name="name" rows="8" cols="80" placeholder="Description" ng-model="newProduct.description"></textarea>
	    <select ng-model="newProduct.quantity">
			<option value="" disabled selected>Quantity</option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
	    </select>
		<button class="btn waves-effect waves-light" type="button" name="button" ng-click="create()">Submit</button>
	</div>
	<div class="col s10">
		<div class="row" ng-if="currentpage > -1">
			<div class="col s2" ng-repeat="product in products | filter: searchText:strict | startFrom: currentpage*pagesize | limitTo: pagesize-10">
				<img class="materialboxed" data-caption="{{product.description}}" width="150" height="150" src="{{product.image}}" alt="">
				<p ng-bind-template="{{product.name}} - ({{product.quantity}} left)"></p>
			</div>
		</div>
		<div class="row" ng-if="currentpage > -1">
			<div class="col s2" ng-repeat="product in products | filter: searchText:strict | startFrom: currentpage*pagesize+5 | limitTo: pagesize-10">
				<img class="materialboxed" data-caption="{{product.description}}" width="150" height="150" src="{{product.image}}" alt="">
				<p ng-bind-template="{{product.name}} - ({{product.quantity}} left)"></p>
			</div>
		</div>
		<div class="row" ng-if="currentpage > -1">
			<div class="col s2" ng-repeat="product in products | filter: searchText:strict | startFrom: currentpage*pagesize+10 | limitTo: pagesize-10">
				<img class="materialboxed" data-caption="{{product.description}}" width="150" height="150" src="{{product.image}}" alt="">
				<p ng-bind-template="{{product.name}} - ({{product.quantity}} left)"></p>
			</div>
		</div>
		{{currentpage}}
		<div class="row">
			<ul class="pagination">
				<li class=""><a href="#/products" ng-click="currentpage=currentpage-1"><i class="material-icons">chevron_left</i></a></li>
				<li class=""><a href="#/products" ng-click="currentpage = 0">1</a></li>
				<li class=""><a href="#/products" ng-click="currentpage = 1">2</a></li>
				<li class=""><a href="#/products" ng-click="currentpage = 2">3</a></li>
				<li class=""><a href="#/products" ng-click="currentpage = currentpage+1"><i class="material-icons">chevron_right</i></a></li>
			</ul>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function () {
		$('select').material_select();
	});
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
